# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnpm-store

# build output
dist
dist-ssr
dev-dist
*.tsbuildinfo

# misc
.DS_Store
*.local

# env
.env
.env.local
.env*.local

# editor
.idea
.vscode
